@using Microsoft.Extensions.Options
@using RobinsonNewsletter.Core.Models
@inject IOptions<RubriqueImageOptions> rubriqueOptionsAccessor

<div>
    <div class="@GetFormClass()">
        <div class="form-group custom-dropdown">
            <label for="rubrique-select" class="dropdown-label">Choose a Rubrique:</label>
            <select id="rubrique-select" class="select-style" @onchange="OnSelectionChanged">
                <option value="" selected disabled>Select a rubrique</option>
                @foreach (var kvp in rubriqueOptionsAccessor.Value.RubriqueImages)
                {
                    <option value="@kvp.Key">@kvp.Key</option>
                }
            </select>
        </div>

        @if (showSections)
        {
            <button type="button" class="btn btn-warning addsection" @onclick="AddSection">Add Section</button>
        }

        @foreach (var section in currentRubrique.Sections)
        {
            <div style="position: relative;" class="saveContainer">
                <Section newSection="section" OnClick="SectionSaveHandler"></Section>
                <button type="button" @onclick="() => DeleteSection(section)" style="position: absolute; top: 0; right: 10%; background-color: transparent; border: none; padding: 0;">
                    <i style="color: black;" class="bi bi-trash3"></i>
                </button>
            </div>
        }

        @if (currentRubrique.Sections.Any() && currentRubrique.Sections.All(s => s.IsSaved))
        {
            <button type="button" @onclick="SaveRubrique" class="btn btn-secondary">Save Rubrique</button>
        }

    </div>

</div>

@if (!showSave)
{
    <div style="display: flex; justify-content: space-between; align-items: center; background-color: #DCD9D9">
        <img src="@currentRubrique.RubriqueSourceImage" width="186" height="22">
        <button type="button" @onclick="ModifyRubrique" class="btn btn-secondary" style="background-color: transparent; border: none; padding: 0;">
            <i style="color: black;" class="bi bi-pencil-square"></i>
        </button>
    </div>    
}



@code {
    [Parameter]
    public SingleRubriqueModel currentRubrique { get; set; }

    [Parameter]
    public EventCallback<string> OnClick { get; set; }

    private bool showSections = false;
    private string selectedKey;

    private bool isCollapsed = false;
    private bool showSave = true;

    private void OnSelectionChanged(ChangeEventArgs e)
    {
        selectedKey = e.Value.ToString();
        if (rubriqueOptionsAccessor.Value.RubriqueImages.ContainsKey(selectedKey))
        {
            currentRubrique.RubriqueSourceImage = rubriqueOptionsAccessor.Value.RubriqueImages[selectedKey];
            showSections = true;
        }
    }

    private void AddSection()
    {
        currentRubrique.Sections.Add(new SingleSectionModel());
    }

    private void DeleteSection(SingleSectionModel section)
    {
        currentRubrique.Sections.Remove(section);
    }

    private string GetFormClass()
    {

        return isCollapsed ? "collapse-transition" : "collapse-show";
    }

    private async Task SaveRubrique()
    {
        isCollapsed = true;
        await Task.Delay(450);
        showSave = false;
        currentRubrique.IsSaved = true;
        await OnClick.InvokeAsync("Rubrique saved");
    }

    private async Task ModifyRubrique()
    {
        isCollapsed = false;
        // await Task.Delay(200);
        showSave = true;
        currentRubrique.IsSaved = false;
        await OnClick.InvokeAsync("Modify rubrique");
    }

    void SectionSaveHandler(string msg)
    {
        StateHasChanged();
    }
}
